*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  gap: 1rem;
}
.otp-container{
  min-width: 200px;
  border: 5px solid orange;
  padding: 1rem;

}
.otp-text{
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 1rem;
   gap: 10px;

}

.otp-text span{

  border: 1px solid grey;
  padding: 1rem;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

}
button{
  margin: 10px;
  padding: 10px 20px;
}